* {
    box-sizing: border-box;
}

body {
    margin: 0;
  
}
.logo {
    font-size: 40px;
    margin: 0;
}
.main-header {
    position: relative;
    display: flex;
    margin: auto;
    justify-content: space-between;
    background-color: rgb(204, 102, 0);
}

.main-header .nav-bar a {
    height: 100px;
    width: 100px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;

    transition: box-shadow 0.4s;
}

.nav-bar {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

canvas {
    border: 2px solid #666;
    background-color: #fff;
}

.meme-editor{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    max-width: min-content;
    margin: 0 auto;

}