
/* Setup */
@import 'setup/var.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';

/* Components */
@import 'components/main-header.css';

/* Media Queries */
@import 'mq/mq.css';

/* * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

 */


/* 
.main-header {
    position: relative;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 1em;
    background-color: rgb(204, 102, 0);
}

.logo {
    font-size: 40px;
    margin: auto;
}

.main-header .list-bar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    transition: box-shadow 0.4s;
}

.main-nav {
    padding: 1em;
}

.list-bar {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.meme-editor {
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    max-width: min-content;
    margin: auto;
    padding: 1em;
}

.canvas-container {
    background-color: darkcyan;
    margin: 0 auto;
}

canvas {
    display: block;
    background-color: #fff;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    place-items: center;
    place-content: baseline;
    grid-auto-flow: dense;
}

.gallery-container .gallery-item {
    width: 100%;
    padding: 0.5em;
}

.hidden {
    display: none;
}

/*  */
/* @media (max-width: 740px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
}

@media (max-width: 600px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

@media (max-width: 460px){
    img:nth-child(6n){
        grid-column: span 2;
        grid-row: span 2;
    }
}  */
