@media screen {
    @media (max-width: 840px) {
        .main-layout {
            max-width: 840px;
        }
    
        .meme-editor {
            flex-direction: column;
            padding-inline-end: 1em;
        }
   
        
    }
}