* {
    box-sizing: border-box;
}

html {
    font-family: pop-reg;
    color: var(--primary-clr-1);
}

h1,
h2 {
    margin: 0 0 1em;
}
body {
    margin: 0;
    background-color: var(--primary-clr-8);
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: unset;
}
