:root {
    --primary-clr-100: rgb(255, 255, 255);
    --primary-clr-200: rgb(248, 248, 248);
    --primary-clr-300: rgb(235, 235, 235);

    --primary-clr-400: rgb(152, 152, 152);

    --primary-clr-500: rgb(255, 152, 38);
}
